Classes/CS_4348/Projects/Project1/
Classes/CS_4348/Projects/Project2/
Classes/CS_4348/Projects/Project3/
Classes/CS_4347/SchoolDB

# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# macOS
.DS_Store

# Node
node_modules/
