YOUTUBE_API_KEY=AIzaSyCCbmxJcDAmtO8qoxmYp3bQBuOxqFPAMnk
SUPABASE_URL=https://eoiqwhjpunpyxpfjarnf.supabase.co
SUPABASE_KEY=sb_publishable_TC6pstJcYxxR8LVhYtZHfw_VRSObP_W
YT_API_KEY=AIzaSyDmBuETaIteZZAaCXm3wnWPWD1hpLsv328